.Jobs {
    min-width: 80vw;
    margin: 40px;
    margin-bottom: 0px;
    padding: 20px;
    color: black;
    background-color: #f3ffbd80;
}
.Jobs-List {
    height: 60vh;
    overflow: auto;
}
.Jobs-Job {
    background-color: #70C1B3;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    color: black;
}
.Jobs-Job *{
    margin-right: 20px;
}

.Jobs-Job:hover{
    background-color: #B2DBBF;
}
a{
    text-decoration: none;
}

@media (max-width: 700px) {
    .Jobs-Job * {
        text-align: left;
        margin-right: 50%;  
        margin-top: 5px;
        margin-bottom: 5px;
    }
        
}

@media (max-width: 500px) {
    .Jobs-Job * {
        margin-right: 20%;  
    }
        
}
