{% extends 'base.html' %}

{% block nav %}
<form action="/">
    <button type="submit" class="btn btn-dark">Back</button>
</form>
{% endblock %}

{% block content %}
    <form method="post" class="col-11 col-md-8 col-lg-6 mx-auto mt-5" enctype="multipart/form-data">
    {{form.hidden_tag()}}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
        <p class="form-group">
            {{field.label (class_='text-light')}}
            {{field (class_='form-control')}}
            <small class="form-text text-muted">
                {% for err in field.errors %}
                {{err}}
                {% endfor%}
            </small>
        </p>

    {% endfor %}
        <div class="col-8 mx-auto p-4">
            <button class="btn btn-success btn-lg col-12">Add New Pet</button>
        </div>
    </form>

{% endblock %}
