{% extends 'base.html' %}

{% block title %}
<h2>Secret</h2>
{% endblock %}

{% block content %}
<div class="row justify-content-between col-12">
    <h3>User Information</h3>
    <div class="row justify-content-end align-items-center">
        <a href="/users/{{user.username}}/feedback/add" class="btn btn-primary mx-1">Add Feedback</a>
        <form action="/users/{{user.username}}/delete" method="post">
            <button type="submit" class="btn btn-danger mx-1">Delete User</button>            
        </form>
        <a href="/logout" class="btn btn-primary mx-1">Logout</a>
        
    </div>
</div>
<p>Name: {{user.fullname}}</p>
<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>

<hr>


<div class="container">
    {% if user.feedback %}
        {% for f in user.feedback %}
        <div class="row justify-content-between alert alert-secondary flex-wrap m-3">
            <p>{{f.title}}</p>
            <div class="row justify-content-end align-items-center">
                <a href="/feedback/{{f.id}}/update" class="btn btn-primary btn-sm mx-1">Edit</a>
                <form action="/feedback/{{f.id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger btn-sm mx-1">Delete</button>            
                </form>        
            </div>
            <div class="col-12">
                {{f.content}}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}


