<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warbler - Page Not Found</title>
    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>


</head>
<body>
    <div class="container-fluid p-5" style="background-image: url(/static/images/warbler-hero.jpg); background-size: cover;">
        <div class="row col-8 alert alert-info mt-4 mx-auto" style="opacity: 85%;">
            <p style="text-align: center;" class="display-1">404</p>
            <p style="text-align: center; font-size: 6rem;">Oops!</p>
            <p style="text-align: center;" class="display-5">The page you are looking for was not found.</p>
        </div>
    </div>
</body>
</html>