body{
    background-color: rgb(30, 12, 63);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}

.buttoncontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    width: 25vh;
    padding: 1vh 2vh;
    border-radius: 2vh;
    font-size: 2.5rem;
    background-color: rgb(133, 133, 189);
}
button:hover{
    background-color: rgb(182, 182, 255);
}

h1{
    font-size: 4rem;
}
table, input{
    font-size: 2.5rem;
}
table td > *{
    margin: 2vh 1vh;
}